@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
  
  
  .wrapper {
    font: 1.2em Helvetica, arial, sans-serif;
    width: 100%; /* Ensure the wrapper takes up the full width */

  }

  

  .content {
    grid-area: content;
    border-radius: 10px 10px 10px 10px;
    background: rgb(34, 33, 33);
  }
  .deco{
    color:#A47CF3;
  }
  .side {

    color: black;
    width: 100%;
    display: flex;
    margin-right: 10vw;
    flex-direction:row;
    align-items: center;
    justify-content: center;
  }

  header{
    background-color:rgb(249, 249, 249); 
    border-radius:10px 10px 10px 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    
    }
  
  .side a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding-left: 2em;
    padding-right: 2em;

  }

  nav{
    padding-bottom: 0.5em;
    padding-top: 0.5em;
  }
  
  @media (min-width: 500px) {
    .wrapper {
      grid-template-columns: 2fr 20fr;
      grid-template-areas:
        "sidebar content";
    }
  }
  